* {
    padding: 0;
    margin: 0;
}

body {
    background-color: navy;
    color: black;
    font-family: Arial;
    text-align: center;
}

.container {
    background: rgb(60, 187, 230);
    width: 95%;
    height: 100%;
    border: solid rgb(0, 0, 0) 3px;
    margin: 10px auto;
    padding: 20px;
}

h1 {
    font-size: 40px;
}

h1.cracker::before, h1.cracker::after {
    content: url("/images/Cracker.jpg");
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}

h2 {
    font-size: 30px;
    display: inline-block;
    margin: 7px;
}

p {
    text-align: left;
    margin: 5px;
}

a.backbutton:link {
    background-color: white;
    padding: 10px;
    margin-bottom: 8px;
    display: inline-block;
    border: solid navy 2px;
    text-decoration: none;
}

img {
    border: solid black 2px;
    margin: 10px;
}

figcaption {
    font-size: 14px;
}

ul {
    margin: 5px;
    list-style-position: inside;
    font-size: 22px;
}

li {
    padding: 5px;
}

hr {
    height: 3px;
    width: 100%;
    color: navy;
    background-color: navy;
    border: none;
    margin: 10px;
}

div.footer a {
    font-size: 12px;
}